.container {
    margin-top: 1rem;
    width: 100%;
}

.head {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background: green;
}

.nav {
    margin: auto;
}

.brand {
    width: 16.25rem;
    height: 3.75rem;
    background: url("/image/logo.jpg") no-repeat;
    background-size: 100% auto;
}

.login {
    width: 3.125rem;
    height: 3.125rem;
    background-image: url("/image/login.png");
    background-size: 100% auto;
}