/*整个页面控制*/
.container {
    width: 100%;
    margin: 0 auto;
}

/*中间核心区域控制*/
.main-div-style {
    width: 65%;
    margin: 0 auto;
}

/*头部控制*/
.head {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 6rem;
    white-space: nowrap;
    /*background: green;*/
}

/*头部排成一行*/
.head > div {
    display: inline-block;
}

/*头部标志控制*/
.brand {
    width: 25%;
    height: 100%;
    background: url("/image/logo.jpg") no-repeat;
    background-size: 100% 100%;
}

/*导航栏控制*/
.nav-container {
    width: 70%;
    height: 100%;
}

/*导航栏*/
.nav {
    width: 80%;
    height: 100%;
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*导航栏item*/
.nav-item {
    position: relative;
    font-size: 1.2rem;
    font-family: "宋体", Arial, Helvetica, sans-serif;
}

/*导航栏item底部浮动字符*/
.nav-item-shadow {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s, opacity 1.5s;
    font-size: 0.8rem;
    text-align: center;
    z-index: -1;
}

.nav-item:hover > .nav-item-shadow {
    opacity: 1;
    transform: translateY(130%);
}


.login {
    width: 5%;
    height: 85%;
    background: url("/image/login.png") no-repeat;
    background-size: 100% 100%;
}

/****************************************************************************************************************************************/

.main {
    width: 100%;
    margin-top: 0.5rem;
}

.banner {
    width: 100%;
    height: 18rem;
    background: url("/image/banner.jpg") no-repeat;
    background-size: 100% 100%;
}

.slogan {
    width: 20%;
    height: 5.5rem;
    overflow: hidden;
    font: 12px "����", Arial, Helvetica, sans-serif;
}

.top-recommend {
    height: 11rem;
    background-color: #F1F0EE;
}

.recommend-body {
    height: 600px;
    background-color: aliceblue;
    margin: 0 auto;
}


/****************************************************************************************************************************************/

.foot {
    margin: 1rem auto auto auto;
    text-align: center;
    line-height: 2.2rem;
    border-top: #E8E8E8 1px solid;
}







